# Allow non-root users start Nimbus builds and manage service with sudo.

# {{ nimbus_fluffy_service_name }}
%{{ nimbus_fluffy_group }} ALL= NOPASSWD: /usr/bin/systemctl *status {{ nimbus_fluffy_service_name }}*
%{{ nimbus_fluffy_group }} ALL= NOPASSWD: /usr/bin/systemctl *start {{ nimbus_fluffy_service_name }}*
%{{ nimbus_fluffy_group }} ALL= NOPASSWD: /usr/bin/systemctl *stop {{ nimbus_fluffy_service_name }}*
%{{ nimbus_fluffy_group }} ALL= NOPASSWD: /usr/bin/systemctl *restart {{ nimbus_fluffy_service_name }}*
# build-{{ nimbus_fluffy_service_name }}
%{{ nimbus_fluffy_group }} ALL= NOPASSWD: /usr/bin/systemctl *status build-{{ nimbus_fluffy_service_name }}*
%{{ nimbus_fluffy_group }} ALL= NOPASSWD: /usr/bin/systemctl *start build-{{ nimbus_fluffy_service_name }}*
%{{ nimbus_fluffy_group }} ALL= NOPASSWD: /usr/bin/systemctl *stop build-{{ nimbus_fluffy_service_name }}*
%{{ nimbus_fluffy_group }} ALL= NOPASSWD: /usr/bin/systemctl *restart build-{{ nimbus_fluffy_service_name }}*
