# Allow non-root users logging in as nimbus user

%{{ nimbus_portal_client_group }} ALL= NOPASSWD: /bin/su – {{ nimbus_portal_client_user }}
%{{ nimbus_portal_client_group }} ALL=({{ nimbus_portal_client_user }}) NOPASSWD: ALL
